canvas {
	position: relative;
	width:100%;
	height:100%;
	z-index:0;
}

body { 
    margin:0px; padding:0px;
    font-family: Verdana, Geneva, sans-serif;
}
  #score{
    position: absolute;
    background-color: gray;
    opacity:0.4;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 1.3em;
    text-align: center;
    z-index:1;
}
  #gameTitle{
    float: center; 
    width: 33%;
    display:inline;
}
  #player1score {
    float: left;
    width: 33%;
    display:inline;
    text-align: left;
    text-align: center;
}
  #player2score{
    float:right;
    width: 33%;
    display:inline;
    right:0px;
}
