doctype html
html
    head
        title="Leap Squash"
        script(src='groupLeap.js')
        script(src='socket.io/socket.io.js')
        script(src='three/three.js')
        script(src='leapjs/leap.js')
    body
        #display
